@use 'index' as *;

.achGroups {
    @include statsContainer;
    flex-direction: column;
    align-items: flex-start;
    width: 20em;
    gap: 0.5em;
    padding: 1em;

    .groupContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5em;
        cursor: pointer;
    }
}

.achContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 0.5em;
    height: 500px;
    width: 600px;
    overflow-y: auto;

    .achievementTile {
        @include statsContainer;
        user-select: none;
        padding: 0.5em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0.5em;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
        max-width: 50em;
        cursor: pointer;

        .input {
            pointer-events: none;
        }

        .body {
            display: flex;
            gap: 0.3em;
            flex-direction: column;
            flex-wrap: nowrap;

            .headerGroup {
                display: flex;
                flex-wrap: nowrap;
                overflow: hidden;
                flex-direction: row;
                justify-content: baseline;
                gap: 0.5em;

                .name {
                    font-weight: bold;
                }

                .version {
                    color: #fffa;
                    font-size: 0.7em;
                    align-self: center;
                }
            }

            .buttonsContainer {

                .copyBtn,
                .linkBtn {
                    font-size: 0.8em;
                    width: max-content;
                }
            }

            .description {
                color: #fff7;
            }

            * {
                cursor: pointer;
            }
        }
    }
}