@use 'index' as *;

.statRow {
    @include flex-row;
    width: 95%;
    margin: 5px;
    position: relative;

    .inputSection {
        @include flex-row;
        width: auto;

        .userInput {
            display: inline;
            border-radius: 2px;
            text-align: end;
            width: 7em;
            padding: 0.2em 0.3em 0.2em 0.2em;
        }
    }
}