@font-face {
    font-family: 'Play';
    src: url('@/assets/fonts/Play-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Play';
    src: url('@/assets/fonts/Play-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'PT Sans';
    src: url('@/assets/fonts/PTSans-Regular.ttf') format('truetype');
}