@import 'fonts';
@import 'vars';
@import 'mixins';

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: $font-main;
    font-weight: normal;
    overflow-y: auto;
    scrollbar-color: #7bb2c2 #343d50;
    scrollbar-width: thin!important;

    p {
        margin: 0;
        padding: 0;
    }

    button {
        background-color: $darkBlueBg;
        color: white;
        border: 1px solid $lightBlue;
        font-family: $font-main;
        text-align: center;
    }

    button:active:enabled {
        transform: scale(0.9, 0.9);
    }

    button:hover:enabled {
        border-color: rgb(102, 204, 255);
    }

    select:enabled:hover {
        border-color: rgb(102, 204, 255);
    }

    select {
        @include selectBox;
        width: 10em;
        font-family: $font-main;
        text-indent: 1px;

        option {
            @include optionBox;
            font-family: $font-main;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input {
        appearance: textfield;
        -moz-appearance: textfield;
        font-family: $font-main;
        margin: 0;
        border: 1px solid black;
        color: white;
        background-color: rgba(32, 32, 41, 0.4);
    }

    input:focus {
        box-shadow: none;
        margin: 0;
        outline: 1px solid rgb(149, 149, 205);
    }

    input::selection {
        background-color: white;
        color: black;
    }

    ::-webkit-scrollbar {
        background-color: #343d50;
        width: 0.1em;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7bb2c2;
        outline: none;
    }
}