@use 'index' as *;

.saveModule {
    @include statsContainer;
    width: 100%;
    height: 100px;

    .header {
        @include header;
    }

    .saveControls {
        @include flex-row;
        width: 95%;
        margin-top: 10px;

        select {
            appearance: none;
            width: 6.5em;
        }

        input {
            width: 10.5em;
        }

        button {
            width: 55px;
        }
    }
}