@use 'index' as *;

.enemyModule {
    @include statsContainer;
    flex-direction: column;
    width: 100%;
    gap: 5%;

    .header {
        @include header;
    }

    .enemyBreakSection {
        @include flex-container(center, flex-end, row, nowrap);
        width: 95%;
        margin: 10px 0;
        gap: 1em;
    }
}