@use 'index' as *;

.dataStoreModule {
    @include statsContainer($align: center, $justifyCnt: flex-start);
    width: 20em;
    height: fit-content;
    gap: 0.5em;
    padding-bottom: 7px;

    button {
        width: 55px;
    }

    .headerSection {
        @include flex-container(center, space-between);
        flex-direction: row;
        width: 100%;

        .header {
            @include header;
        }

        .statusText {
            text-align: right;
            width: 5em;
        }
    }

    .saveSection {
        @include flex-container(center, space-between);
        flex-direction: row;
        width: 95%;

        .inputSave {
            width: 9.5em;
        }
    }


    .loadSection {
        @include flex-container(center, space-between);
        width: 95%;
        flex-direction: row;

        select:disabled {
            appearance: none;
        }

        .loadSectionButtons {
            display: flex;
            gap: 0.2em;
        }
    }

    .importExportSection {
        @include flex-row($justifyCnt: flex-start);
        gap: 0.2em;
        width: 95%;
    }
}