@use 'index' as *;

.calcMainContainer {
    @include flex-container(flex-start, flex-start);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1em;
    box-sizing: border-box;
    width: 100%;

    .row {
        @include flex-container(flex-start, flex-start);
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
        max-width: 750px;
        width: fit-content;
        box-sizing: border-box;
    }

    .column {
        @include flex-container(flex-start, flex-start);
        flex-direction: column;
        gap: 1em;
        width: max-content;
    }

    .charStatsContainer {
        @include statsContainer($moduleBG);
        width: 320px;
        min-height: max-content;
    }

    .enemyStatsContainer {
        @include statsContainer;
        width: 320px;
        min-height: max-content;
    }

    .statSetsContainer {
        @include statsContainer;
        width: 320px;
        min-height: max-content;
    }

    .resultsContainer {
        @include statsContainer;
        width: 320px;
        min-height: max-content;
    }

    button {
        background-color: $darkBlueBg;
        color: white;
        border: 1px solid $lightBlue;
    }

    select {
        @include selectBox;
        width: 10em;

        option {
            @include optionBox;
        }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input {
        appearance: textfield;
        -moz-appearance: textfield;
        font-family: $font-main;
        margin: 0;
        border: 1px solid black;
        color: white;
        background-color: rgba(32, 32, 41, 0.323);
    }

    input:focus {
        box-shadow: none;
        margin: 0;
        outline: 1px solid rgb(149, 149, 205);
    }

    input::selection {
        background-color: white;
        color: black;
    }
}