@use 'index' as *;

.calcMainContainer {
    @include flex-container(flex-start, flex-start);
    gap: 1em;
    height: max-content;

    .row {
        @include flex-container(flex-start, flex-start, row, wrap);
        gap: 1em;
        height: max-content;
        max-width: 100%;
        box-sizing: border-box;

        .column {
            @include flex-container(flex-start, flex-start);
            gap: 1em;
            width: max-content;
        }
    }
}