@use 'index.scss' as *;

@keyframes BG-MOVE {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-511px);
    }
    
}

.bg {
    background-image: url('@/assets/img/seamless_space.png');
    background-size: inherit;
    background-repeat: repeat;
    width: 400vw;
    min-height: 100vh;
    animation: BG-MOVE 50s linear infinite;
}

.bgContainer {
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10;
}

.main {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    .modulesContainer {
        padding: 1em;
        max-height: 100%;
        display: flex;
        gap: 1em;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .info {
        background-color: blue;
        width: 300px;
        height: 300px;
    }
    
    .value {
        font-size: 36px;
    }
}