@use 'index' as *;

.mainContainer {
    @include statsContainer;
    width: 320px;
    height: 520px;

    .header {
        @include header;
    }

    .atkSection {
        @include flex-row;
        flex-direction: column;
        width: 95%;
        border: 1px solid white;
        border-radius: 5px;
    }

    .dmgSrcSection {
        @include flex-row;
        width: 95%;
        margin: 0.3em;
        gap: 1em;

        select {
            width: 7em;
        }
    }

    .totalStatInfo {
        padding: 10px 0;
        text-align: right;
    }
}